old/
/index.html
/styles.css
lambda_function/
node_modules
cypress/
cypress.config.js
package-lock.json
package.json
.DS_Store
ksk-private.pem
ksk-public.pem
notes.md
CRC_terraform_frontend/
aws-login.sh
backend_terraform/
crc_env/
getViewerCount_function/

